.flex {
  max-width: 500px;
  display: flex;
  margin: 0 auto;
  // justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 20px;
  flex-direction: column;
  border: 3px solid black;
  padding: 15px;
}

.date {
  text-align: center;
  font-size: 32px;
}

.text_field {
  width: 100%;
  min-width: 280px;
  margin: auto;
}

.button {
  max-width: 120px;
  margin: 0 auto;
}

.radio {
  align-self: flex-start;
}
